<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Policy Reaction Simulator</title>
        <style>
            body { font-family: sans-serif; }
            label { display: block; }
        </style>
    </head>
    <body>
        {% if messages %}
        <aside>
            {% for message in messages %}
            <div {% if message.tags %}class="alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
            {% endfor %}
        </aside>
        {% endif %}

        {% block content %}
        {% endblock %}
    </body>
</html>
